// WeakLinkLineConstraint (uses WeakLinksConstraint)
thermometer?: FPuzzlesLines[];
palindrome?: FPuzzlesLines[];
renban?: FPuzzlesLines[];
whispers?: FPuzzlesLines[];
nabner?: FPuzzlesLines[];

// CloneConstraint (uses WeakLinksConstraint)
clone?: FPuzzlesClone[];
